/web/bundles/
/web/js/
/web/css/
/web/assetic/
/web/fonts/
/web/jquery.min_jquery.min_1.map
/web/jquery.min.map
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/AppBundle/Resources/public/components/
.DS_Store
/composer.lock
/npm-debug.log
/.idea
